.container {
  display: flex;
  width: 280px;
 
}
.basicInfo_email {
  font-size: 12px;
  color: #989898;
  white-space: nowrap;
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.basicInfo_name {
  font-weight: 500;
}
