.container {
  display: flex;
  max-width: 280px;
  align-items: center;
}
.container:hover {
  background: #e8ecef;
}
.basicInfo_email {
  font-size: 12px;
  color: #989898;
  white-space: nowrap;
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}
.basicInfo_name {
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
}
