* {
  margin: 0px;
  /* color: #3e3e3e; */
}
.container {
  display: flex;
  padding: 24px;
  flex-direction: column;
}
.container_header--left {
  display: flex;
  align-items: center;
}
.container_header--left p {
  font-size: 12px;
}
.container_header {
  display: flex;
  max-width: 500px;
  gap: 24px;
  align-items: center;
  /* justify-content: space-between; */
  margin-bottom: 32px;
}
.container_subheader {
  display: flex;
  gap: 24px;
  /* justify-content: space-between; */
  max-width: 500px;
  margin-bottom: 32px;
}
.container_header--right label {
  font-size: 12px;
  color: #afafaf;
}
.container_header--right select {
  border: 0px;
  font-size: 14px;
  font-weight: 400;
  width: 65px;
}
.container_header--left p {
  font-size: 12px;
  color: #afafaf;
}
.container_header--left label {
  font-weight: 500;
  font-size: 24px;
}
.container_subheader input {
  height: 32px;
  border-radius: 40px;
  border: 0px;
  background: #f1f1f1;
  padding: 0px 32px 0px 8px;
  width: 100%;
}
.input_icon {
  position: absolute;
  right: 5px;
  top: 4px;
}
.container_subheader button {
  background-image: linear-gradient(to right, #ff866e, #fb669f);
  border: 0px;
  border-radius: 4px;
  color: #fff;
  /* height: 32px; */
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.06);
  font-size: 14px;
  padding: 8px;
  cursor: pointer;
}
.dropdown_options {
  background: #fff;
  position: absolute;
  padding: 8px 0px;
  width: 100%;
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  border: 1px solid #efefef;
  z-index: 999;
}
.dropdown_options--message {
  font-size: 14px;
  color: #696969;
  padding: 0px 8px;
}
.tabel_container {
  width: 100%;
  max-width: 600px;
  position: relative;
  /* display: flex;
  flex-direction: row; */
}
.top_section {
  width: 100%;
  max-width: 600px;
}
