* {
  margin: 0px;
}
.container_header--left {
  display: flex;
  align-items: center;
}
.container_header--left p {
  font-size: 12px;
}
.container_header {
  display: flex;
  max-width: 500px;
  justify-content: space-between;
}
.container_subheader {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
}
.container_header--right select {
  border: 0px;
  font-size: 14px;
  font-weight: 600;
}
.container_subheader input {
  height: 32px;
  border-radius: 40px;
  border: 0px;
  background: #f1f1f1;
  padding: 0px 32px 0px 8px;
  width: 100%;
}
.input_icon {
  position: absolute;
  right: 5px;
  bottom: 0px;
}
.container_subheader button {
  background-image: linear-gradient(to right, #ff866e, #fb669f);
  border: 0px;
  border-radius: 4px;
  color: #fff;
  height: 32px;
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.06);
  font-size: 14px;
  padding:0px 8px;
}
