.container {
  width: 450px;
  background: #f1f1f1;
  position: absolute;
  top: 0px;
  right: -470px;
  /* right: 400px;
  top: 163px; */
  transition: all 0.5s ease-in-out;
  padding: 32px 24px;
  opacity: 1;
}
.container_hide {
  transition: all 0.5s ease-in-out;
  width: 200px;
  background: #efefef;
  position: absolute;
  top: 0px;
  right: -470px;
  opacity: 0;
  /* right: -500px;
  top: 163px; */
  padding: 32px 24px;
  pointer-events: none;
}
.detail_avatar {
  text-align: center;
}
.detail_title {
  text-align: center;
  margin-top: 18px;
  font-size: 18px;
  font-weight: 500;
}
.detail_field {
  border-bottom: 1px solid #b5b5b5;
  display: flex;
  padding: 24px;
}
.detail_field:last-child {
  border-bottom: none;
}
.detail_field_label {
  flex-basis: 40%;
  color: #b5b5b5;
  font-size: 14px;
}
.detail_field_data {
  font-size: 14px;
  font-weight: 500;
  flex-basis: 60%;
}
.modal--close {
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
}
@media screen and (max-width: 740px) and (min-width: 375px) {
  .container {
    max-width: 330px;
    background: #f1f1f1;
    position: absolute;
    top: 320px;
    left: 0px;
    /* right: 400px;
    top: 163px; */
    transition: all 0.5s ease-in-out;
    padding: 32px 24px;
    opacity: 1;
  }
  .container_hide {
    transition: all 0.5s ease-in-out;
    max-width: 100px;
    background: #efefef;
    position: absolute;
    top: 320px;
    left: 0px;
    opacity: 0;
    /* right: -500px;
    top: 163px; */
    padding: 32px 24px;
    pointer-events: none;
  }
}
