.table_container th {
  height: 40px;
  font-weight: 600;
}
.table_container thead {
  background: #f1f1f1;
}
.table_container table {
  border-collapse: collapse;
}
.table_container td {
  padding: 4px;
  text-align: left;
  padding-left: 10px;
}
.table_container th {
  padding: 4px;
  text-align: left;
}
.table_container thead,
tbody {
  width: 100%;
  /* display: table;
  table-layout: fixed; */
  border-collapse: collapse;
}
.table_container tr {
  cursor: pointer;
}
.table_container tr:hover {
  background: #e8ecef;
}
