.table_container th {
  height: 40px;
}

.table_container thead {
  background: #f1f1f1;
  display: table;
}
.table_container table {
  border-collapse: collapse;
}
.table_container td {
  padding: 4px;
  text-align: left;
  padding-left: 10px;
  white-space: nowrap;
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.table_container th {
  padding: 4px;
  text-align: left;
  color: #adadad;
  font-size: 14px;
  font-weight: 500;
}
.table_container thead,
tbody {
  width: 100%;
  /* display: table;
  table-layout: fixed; */
  border-collapse: collapse;
}
.table_container tbody {
  max-height: 285px;
  overflow: auto;
  overflow-x: hidden;
  display: block;
}
.table_container tbody::-webkit-scrollbar {
  width: 5px;
}
.table_container tbody::-webkit-scrollbar-thumb {
  background: #888;
}
.table_container tbody::-webkit-scrollbar-track {
  background: #888;
}
.table_container tr {
  cursor: pointer;
  display: table;
  table-layout: fixed;
  width: 100%;
}
.table_container tr:hover {
  background: #e8ecef;
}
